@page
@model IndexModel
@{
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
            <h1 class="display-3">Empty project</h1>
            <p class="lead pb-4">Develop a C# Web Application using FiyiStack, MS SQL Server, C# .NET Core 3.1, JavaScript and TypeScript</p>       
        </div>
        <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
        <img class="ml-lg-5" src="/img/RamirezBar/RamirezBar.png" width="250">
        </div>
    </div>
    </div>
</div>
