@page
@model IndexModel
@{
}
<div class="page-header">
          <div class="page-header-image" style="background-image: url('/img/RamirezBar/HP1.jpeg')"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-7 mr-auto text-right d-flex justify-content-center flex-column">
                <h3 class="display-3 text-white">Ramirez Bar</h3>
                <p class="lead mt-0 text-white">Tu lugar</p>
                <br />
                <div class="buttons">
                  <a href="~/Products" class="btn btn-danger">
                    Pedir
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
