@page
@model IndexModel
@{
}
<div class="page-header">
          <div class="page-header-image" style="background-image: url('/img/RamirezBar/HP1.jpeg')"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-7 mr-auto text-right d-flex justify-content-center flex-column">
                <br />
                <div class="buttons">
                  <a href="~/CartaDeTragos" class="btn btn-danger mb-3">
                    Carta de tragos
                  </a>
                  <a href="~/CartaDeComida" class="btn btn-danger mb-3">
                    Carta de comida
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
